*{
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    display: grid;
}

.set {
    background-color: white;
    color: black;
    border: solid red;
    margin: 10px;
    padding: 15px;
}

#MyTitle {
    font-size: 20;
    text-align: center;
    grid-area: toptitle;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 2px;
}

#MyFoot {
    font-size: 25;
    text-align: center;
    grid-area: botfoot;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 2px;
}

li {
    width: 150px;
    height: 30px;
    background-color: cornflowerblue;
    border: solid blue;
    margin: 10px 10px 10px 10px;
    padding: 4px;
}

ul {
    list-style-type: none;
}

li:hover {
    background-color: lightcoral;
    border: solid red;
    transition: background-color 500ms linear;
}

#Adiv {
    grid-area: alist;
}
#Bdiv {
    grid-area: blist;
}
#Cdiv {
    grid-area: clist;
}
#Ddiv {
    grid-area: dlist;
}

@media only screen and (max-width: 480px) {
    body {
        grid-template-areas: 
        "toptitle"
        "alist"
        "blist"
        "clist"
        "dlist"
        "botfoot";
    }
    
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
    body {
        grid-template-areas: 
        "toptitle toptitle"
        "alist blist"
        "clist dlist"
        "botfoot botfoot";
    }
}

@media only screen and (min-width: 769px) {
    body {
        grid-template-areas:
        "toptitle toptitle toptitle toptitle"
        "alist clist dlist blist"
        "botfoot botfoot botfoot botfoot";
    }
}